.top-container {
  background-color: yellow;
  width: 200px;
  height: 200px;
}

.middle-container {
  background-color: blue;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 210px;
}

.bottom-container {
  width: 200px;
  height: 200px;
  background-color: red;
  position: absolute;
  top: 407px;
  left: 410px;
}
